# Docker volume
docker-volume

# Git metadata
.git

# pytest
.pytest_cache

# firefox directories
firefox-bin
*.app

# PyCharm
.idea

# Local Python virtual environments
venv

# npm packages
openwpm/Extension/firefox/node_modules
openwpm/Extension/webext-instrumentation/node_modules

# built extension artifacts
openwpm/Extension/firefox/dist
openwpm/Extension/firefox/openwpm.xpi
openwpm/Extension/firefox/src/content.js
openwpm/Extension/firefox/src/feature.js
