# Docker volume
docker-volume/

# pytest
.pytest_cache/

# mypy
.mypy_cache

# firefox directories
firefox-bin/
Firefox*.app/
Nightly*.app/
firefox-profile

# VIM tmp files
*~
.*.sw*

# A bug in selenium creates this on unix systems
C:\\nppdf32Log\\debuglog.txt

# PyCharm
.idea/*
*.idea
*/idea

#VSCode
.vscode

# Local Python virtual environments
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
#lib/
#lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# npm packages
node_modules

# built extension artifacts
automation/Extension/firefox/dist
automation/Extension/firefox/openwpm.xpi
automation/Extension/firefox/src/content.js
automation/Extension/firefox/src/feature.js
