repos:
  - repo: https://github.com/timothycrosley/isort
    rev: 5.5.1
    hooks:
    -   id: isort
  - repo: https://github.com/psf/black
    rev: 21.5b2
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
        additional_dependencies: [pytest]
        # We may need to add more and more dependencies here, as pre-commit
        # runs in an environment without our dependencies


