beautifulsoup4
boto3
Cython
dill
mmh3
multiprocess
numpy
pandas
pillow
plyvel
psutil
publicsuffix
pyarrow
pyasn1
python-dateutil
pyvirtualdisplay
redis
s3fs==0.4.0 # See https://github.com/mozilla/OpenWPM/issues/614
selenium
sentry-sdk
setuptools
tabulate
tblib
tld

# localstack compatibility
more-itertools==5.0.0
zipp==0.6.0
