beautifulsoup4
dill
IPython
mini-amf
mmh3
multiprocess
plyvel
psutil
publicsuffix
pyasn1
PyOPenSSL
pytest
python-dateutil
pyvirtualdisplay
setuptools
six
tabulate
tblib
tld

# Install specific version of selenium known to work well with the Firefox install we use
selenium==2.53.0
