beautifulsoup4
boto3
Cython
dill
flake8
flake8-isort
IPython
mini-amf
mmh3
multiprocess
numpy
pandas
pillow
plyvel
psutil==5.4.8     # for compatibility when layered with requirements-dev.in
publicsuffix
pyarrow
pyasn1
pytest
python-dateutil
redis
s3fs
selenium
sentry-sdk
setuptools
tabulate
tblib
tld
